name: Puffy Analytics Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  run-pipeline:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run Data Quality Checks
        run: |
          python part1-data-quality/data_quality_code.py

      - name: Run Data Cleaning & Transformation
        run: |
          python part2-transformation/clean_and_analyze.py

      - name: Run Business Analysis
        run: |
          python part3-analysis/business_analysis.py

      - name: Run Production Monitoring
        run: |
          python part4-monitoring/monitoring.py
